body{
    /*background-color: rgba(72 122 180 / .4);*/
    background-color: rgb(0, 0, 0);
    padding: 10px;
    color: rgba(255, 255, 255, 0.7);

    /*background-color: rgba(120 120 255 / .3);*/
}
.wrapper {

}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: rgb(24, 24, 24);
}

body::-webkit-scrollbar-thumb {
    background-color: rgba(242, 249, 242, 0.46);
    border-radius: 20px;
}

.back-to-top {
    position: fixed;
    right: 10px;
    bottom: 5%;
    width: 50px;
    height: 50px;

    border-color: transparent;
    border-radius: 50%;
    background-color: rgb(46, 50, 65);

    display: none;

}
.back-to-top:hover,
.back-to-top:focus {
    filter: brightness(2);
    outline: none;
}
.back-to-top::before,
.back-to-top::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.back-to-top::before {
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f2f9f2;
}
.back-to-top::after {
    width: 15px;
    height: 15px;
    transform: translate(-50%,-50%) rotate(45deg);
    border-top: 5px solid #f2f9f2;
    border-left: 5px solid #f2f9f2;
}